{% extends "Navbar.html" %}

{% block title %}CD{% endblock title %}

{% block content %}
<section class="section-CD-cdProducts my-4">
    <div class="row products px-2 border border-1 rounded">
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
        <div class="col-3 product">
            <div class="product-content">
                <img src="static/pic/dvd-cover-mockup-template.jpg" class="img-fluid overflow-hidden" alt="">
                <p class="name">cd Name</p>
                <p class="price">NTD 300</p>
                <form method='post' action="productDetail">
                    <button type="submit" class="btn btn-outline-info">Details</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %} 