{% extends "Base.html" %}

{% block title %}忘記密碼{% endblock title %}


{% block content %}
{% if mail %}
<div class="login">
  <h2>更改密碼</h2><br><br><br>
  <form method="post" action="/ForgetPassword">
    密碼：<input type="password" name="password">
    <br><br>
    確認：<input type="password" name="repassword">
    <input type="hidden" name="mail" value={{mail}}>
    <div class="loginButton">
  <button type="submit" class="btn btn-outline-success">更改密碼</button>
    </div>
  </form>
  </div>
{% else %}
<div class="login">
  <h2>忘記密碼</h2><br><br><br>
  <form method="post" action="/ForgetPassword">
    郵箱地址：<input name="mail">
    <div class="loginButton">
        <button type="submit" class="btn btn-outline-success">發送認證信箱</button>
    </div>
  </form>
  </div>
{% endif %}
{% endblock content %} 