{% extends "Base.html" %}

{% block title %}登入{% endblock title %}


{% block content %}
<div class="login">
  <h2>登入</h2><br><br><br>
  <form method="post" action="/login_check">
    賬號：<input name="userid">
    <br><br>
    密碼：<input type="password" name="password">
    <div class="loginButton">
  <button type="submit" class="btn btn-outline-success">登入</button>
    </div>
    <div>
      <a href="/ForgetPassword" style='float:left'>忘記密碼</a>
      <p style='float:right'>還不是書品會員？ <a href="/applyAccount">註冊帳號</a></p>
    </div>
  </form>
  </div>
{% endblock content %} 